<div class="d-flex flex-column flex-shrink-0 mh-100 p-3 text-white bg-dark sidebar" style="width: 280px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a routerLink="/manufacturer/bmw" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white">
        <fa-icon [icon]="faCar" class="m-2"></fa-icon>
        BMW
      </a>
    </li>
    <li>
      <a routerLink="/manufacturer/mb" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white">
        <fa-icon [icon]="faCar" class="m-2"></fa-icon>
        Mercedez-Benz
      </a>
    </li>
    <li>
      <a routerLink="/manufacturer/porsche" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link text-white">
        <fa-icon [icon]="faCar" class="m-2"></fa-icon>
        Porsche
      </a>
    </li>
  </ul>
</div>
